<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.cwdil.archi.genai.ui.views.GenAIAssistantView"
            icon="images/script.png"
            id="Archi_UI.genaiAssistantView"
            name="%viewGenAIAssistant"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="Archi_UI.commands.showGenAIAssistant"
            name="%commandShowGenAIAssistant.name">
      </command>
      <command
            id="Archi_UI.commands.generateSequenceDiagram"
            name="%commandGenerateSequenceDiagram.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.cwdil.archi.genai.ui.commands.ShowGenAIAssistantHandler"
            commandId="Archi_UI.commands.showGenAIAssistant">
      </handler>
      <handler
            class="com.cwdil.archi.sequence.commands.GenerateSequenceDiagramHandler"
            commandId="Archi_UI.commands.generateSequenceDiagram">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:toolbar_views?after=end">
         <command
               commandId="Archi_UI.commands.showGenAIAssistant"
               icon="images/script.png"
               label="%commandShowGenAIAssistant.label"
               style="push"
               tooltip="%commandShowGenAIAssistant.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=show_view_end">
         <command
               commandId="Archi_UI.commands.showGenAIAssistant"
               label="%commandShowGenAIAssistant.label"
               style="push"
               tooltip="%commandShowGenAIAssistant.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="Archi_UI.menu.aiTools"
               label="%menuAiTools.label">
            <command
                  commandId="Archi_UI.commands.showGenAIAssistant"
                  id="Archi_UI.menu.aiAssistantCommand"
                  label="%commandShowGenAIAssistant.label"
                  style="push"
                  tooltip="%commandShowGenAIAssistant.tooltip">
            </command>
            <command
                  commandId="Archi_UI.commands.generateSequenceDiagram"
                  id="Archi_UI.menu.sequenceDiagramCommand"
                  label="%commandGenerateSequenceDiagram.label"
                  style="push"
                  tooltip="%commandGenerateSequenceDiagram.tooltip">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.archimatetool.editor.perspectiveMain">
         <view
               id="Archi_UI.genaiAssistantView"
               relationship="stack"
               relative="org.eclipse.gef.ui.palette_view">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
